<div id = "main" class = "ui grid">
          <div class="twelve wide column">
            
            
              <h1>Contact Us</h1>
            </div>
            
            
      <div class="row">
        <div class="fifteen wide column">
        <h3 class = "ui header">Change password</h3><br>
        <div class="ui input">
          <input type="text" placeholder="Current password"><br>
        </div>
        <div class="ui input">
          <input type="text" placeholder="New password"><br>
        </div> 
        <div class="ui input">
          <input type="text" placeholder="Retype new password">
        </div> 
      </div>
      <br>
      <br>
      <br> 
        </div>
     </div>