<div class="center aligned twenty column grid container" style="margin:30px;">
    <div class="ui eight mini ordered steps">
        <div class = "completed step">
            <div class="content">
                  <div class="title">Terms</div>
                  <div class="description">Terms and Agreements</div>
            </div>
        </div>
        
        <div class = "completed step">
            <div class="content">
                  <div class="title">Create Account</div>
                  <div class="description">Username and Password</div>
            </div>
        </div>
        
        <div class = "completed step">
            <div class="content">
                  <div class="title">General Information</div>
                  <div class="description">Fill in Information</div>
            </div>
        </div>
        
        <div class = "completed step">
            <div class="content">
                  <div class="title">Forms</div>
                  <div class="description">Complete Form</div>
            </div>
        </div>
        
        <div class = "completed step">
            <div class="content">
                  <div class="title">Upload Photo</div>
                  <div class="description">Upload Photos</div>
            </div>
        </div>
        
        <div class = "active step">
            <div class="content">
                  <div class="title">Booking</div>
                  <div class="description">Book Appoinment</div>
            </div>
        </div>
        
        <div class = "disabled step">
            <div class="content">
                  <div class="title">Payment</div>
                  <div class="description">Payment Options</div>
            </div>
        </div>
        
        <div class = "disabled step">
            <div class="content">
                  <div class="title">Confirm</div>
                  <div class="description">Information Confirmation</div>
            </div>
        </div>
    </div>
</div>

<div class="ui center aligned  segment text container " id="signUpBox">
          <div class="ui centered header">
            <h1 class="font" style="color:black;">Book Appointment</h1>
          </div>
          <h3>Monday, March 5th</h3>
          <div class="ui three item menu">
            <a class="item">12pm</a>
            <a class="item">3pm</a>
            <a class="item">4pm</a>
          </div>
          <h3>Tuesday, March 6th</h3>
          <div class="ui three item menu">
            <a class="item">9am</a>
            <a class="item">1pm</a>
            <a class="item">2pm</a>
          </div>
          <h3>Wednesday, March 7th</h3>
          <div class="ui three item menu">
            <a class="item">10am</a>
            <a class="item">1pm</a>
            <a class="item">2pm</a>
          </div>
            
            <h4>Placeholder</h4>

              {{!--<button class="ui blue  medium button prev5">Previous</button>--}}
              {{#link-to "landing-page"}}<button {{action 'deleteAccount'}} class="ui red medium button">Cancel</button>{{/link-to}}
              <button class="ui blue  medium button next5">Next</button>
        </div>