<div class="center aligned twenty column grid container" style="margin:30px;">
    <div class="ui eight mini ordered steps">
        <div class = "active step">
            <div class="content">
                  <div class="title">Terms</div>
                  <div class="description">Terms and Agreements</div>
            </div>
        </div>
        
        <div class = "disabled step">
            <div class="content">
                  <div class="title">Create Account</div>
                  <div class="description">Username and Password</div>
            </div>
        </div>
        
        <div class = "disabled step">
            <div class="content">
                  <div class="title">General Information</div>
                  <div class="description">Fill in Information</div>
            </div>
        </div>
        
        <div class = "disabled step">
            <div class="content">
                  <div class="title">Forms</div>
                  <div class="description">Complete Form</div>
            </div>
        </div>
        
        <div class = "disabled step">
            <div class="content">
                  <div class="title">Upload Photo</div>
                  <div class="description">Upload Photos</div>
            </div>
        </div>
        
        <div class = "disabled step">
            <div class="content">
                  <div class="title">Booking</div>
                  <div class="description">Book Appoinment</div>
            </div>
        </div>
        
        <div class = "disabled step">
            <div class="content">
                  <div class="title">Payment</div>
                  <div class="description">Payment Options</div>
            </div>
        </div>
        
        <div class = "disabled step">
            <div class="content">
                  <div class="title">Confirm</div>
                  <div class="description">Information Confirmation</div>
            </div>
        </div>
    </div>
</div>

<div class="row"></div>
<div class="row"></div>
    <div id="agreement">
        <div class="ui center aligned segment text container " id="agreementBox">
            <div class="ui centered header">
                <h1 class="font" style="color:black;">Terms of Agreement</h1>
            </div>

            <div class = "ui segment">
                <h3>TITLE</h3>
                <h4>INSERT AGREEMENT HERE</h4>
            </div>
            
            <p>By clicking you agree you are accepting these terms and conditions</p>
            <a> {{#link-to "landing-page"}}
            <button class="ui red medium button agree">Cancel</button>
            {{/link-to}}
            </a>
            
            <div class="one ui buttons">
                <button class="ui blue medium button agree ">Agree, I understand</button>
            </div>
    </div>
</div>