{{!--<p>Your appointment is currently available.<br>--}}
{{!--Click the button below to enter the video call.</p>--}}


{{!--<button class="ui button blue" >--}}
{{!--  <i class="google plus icon"></i>--}}
{{!--  Enter Appointment--}}
{{!--</button>--}}


<span class="skype-button rounded" data-contact-id="shima.kanani" data-text="Start Appointment"></span>
<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>