<style>
  .ui#content{
  padding-top: 70px;
  z-index:5;
  }
  
  .ui#logo{
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 250px;
  }
  
  .ui#btn{
    position:absolute; 
    top:0; 
    right:0;
    margin-top: 23px;
    margin-right:20px;
  }
  
  .ui#main{
    padding-left:20px;
    padding-top:20px;
  }
  
  #signUpBox{
    width: 50%;
    padding: 20px;
  }
</style>

<div class="ui center aligned attached fluid segment container " id="signUpBox">
    <div class="ui centered header">
        <h1 class="font" style="color:black;">Find your account...</h1>
    </div>
    
    <div class="ui form ">
        <div class="field">
            <label>Please enter your email to search for your account.</label>
        {{input type="text" cols="25" rows="1" value = userName placeholder="Email"}}
        </div>
        {{#if show}}
        <div>
            <h6>An email has been sent.</h6>
        </div>
        {{/if}}
        <div class="col-sm-offset-2 col-sm-10">
            <a>
              <button class="ui blue button" {{action 'submit'}}>Submit</button> 
            </a>
            <a>{{#link-to "login"}}
              <button class="ui blue button" >Cancel</button> 
            {{/link-to}}
            </a>
        </div>
        
   </div>
</div>