<h1>Upper Spinal Floor Twist</h1>

<div class="ui medium images">
  <img src="assets/images/upperSpinal_1.png">
  <img src="assets/images/upperSpinal_2.png">
</div>

{{delete-exercise ID=exercise.id}}

<table class="ui selectable line table" >
<thead>
<tr>
    <th>Instruction Number</th>
    <th>Description</th>
</tr>
</thead>
<tbody>
    <tr> 
    <td>1.</td>
    <td>Lie on one side in the fetal position with your arms straight out from your shoulders in front on you </td>
    </tr>
    
    <tr> 
    <td>2.</td>
    <td>Stack your knees one directly atop the other, where they should remain throughout the exercise </td>
    </tr>
    
    <tr> 
    <td>3.</td>
    <td>Open the top arm, lifting it up and over your body to the side, letting it rest to the floor or as close to the floor as you are able</td>
    </tr>
    
    <tr> 
    <td>4.</td>
    <td>Move your head to look in the same direction as that arm</td>
    </tr>
</tbody>
</table>


{{outlet}}