{{!--{{home-menu}}--}}
{{!--{{home-menu}}--}}

<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Homepage - Semantic</title>
  <link rel="stylesheet" type="text/css" href="../dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/site.css">

  <link rel="stylesheet" type="text/css" href="../dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/menu.css">

  <link rel="stylesheet" type="text/css" href="../dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/sidebar.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/transition.css">

  <style type="text/css">
    .ui.vertical.stripe.segment#services{
      padding: 20px;
    }
    .hidden.menu {
      display: none;
    }
    .masthead.segment {
      min-height: 20px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }
    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.secondary.pointing.menu{
      border-bottom: none;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }
    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }
    .footer.segment {
      padding: 5em 0em;
    }
    .secondary.pointing.menu .toc.item {
      display: none;
    }
    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 20px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }
  </style>

  <script src="assets/library/jquery.min.js"></script>
  <script src="../dist/components/visibility.js"></script>
  <script src="../dist/components/sidebar.js"></script>
  <script src="../dist/components/transition.js"></script>
  <script>
  $(document)
    .ready(function() {
      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;
      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;
    })
  ;
  </script>
</head>
<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui left floated image">
    <img src="assets/images/logo.png" style= "width:170px; padding-left: 15px; padding-top:4px;">
  </div>

      
 <div class="item">{{#link-to "landing-page"}}
    Home
  {{/link-to}}
  </div>
  
  <div class="item">{{#link-to "about"}}
  
    About
 
  {{/link-to}}
  </div>
  
  <div class="item">{{#link-to "how-it-works"}}
    How it works
  {{/link-to}}
  </div>
  

    <a class="active item">
    {{#link-to "services"}}
    Services
  {{/link-to}}
  </a>

  
  <div class="item">
    {{#link-to "faq"}}
    FAQ
   {{/link-to}}
  </div>
  
  <div class="item">
   {{#link-to "contact"}}
      Contact
    {{/link-to}}
    </div>
    <div class="item">
      <a href="http://marcottephysio.com/blog/" target="_blank">Blog</a>
    </div>
   <div class="right menu">
      <div class="item"><a>{{#link-to "login"}}<a class="ui button">Log in</a>{{/link-to}}</a></div>
      <div class="item"><a>{{#link-to "create-account"}}<a class="ui primary button">Start Assesment</a>{{/link-to}}</a></div>
    </div>
  </div>



<!-- Page Contents -->
<div class="pusher">
  <div class="ui vertical masthead center aligned segment">
<div class="ui left floated image">
    <img src="assets/images/logo.png" style= "width:170px; padding-left: 15px; padding-top:4px;">
  </div>
    <div class="ui container">
      <div class="ui large secondary pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a>{{#link-to "landing-page"}}
  <a class="item">
    Home
  </a>
  {{/link-to}}
  </a>
  
  <a>{{#link-to "about"}}
  <a class="item">
    About
  </a>
  {{/link-to}}
  </a>
  
  <a>{{#link-to "how-it-works"}}
  <a class="item">
    How it works
  </a>
  {{/link-to}}
  </a>
  
  <a>{{#link-to "services"}}
  <a class="active item">
    Services
  </a>
  {{/link-to}}
  </a>
  
  <a> {{#link-to "faq"}}
   <a class="item">
    FAQ
    </a>
   {{/link-to}}
  </a>
  
  <a> {{#link-to "contact"}}
    <a class="item">
      Contact
    </a>
    {{/link-to}}
  </a>
  <a>
    <a class ="item" href="http://marcottephysio.com/blog/" target="_blank">Blog</a>
  </a>
       <div class="right item">
          <a>{{#link-to "login"}}<a class="ui button">Log in</a>{{/link-to}}</a>
           <a>{{#link-to "create-account"}}<a class="ui primary button">Start Assesment</a>{{/link-to}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="fifteen wide column">
        <h1 class = "ui header"><font size = "6">Services</font></h1> 
        <div id = "services" class="ui vertical stripe segment">
        <h3 class = "ui header">Assessment Package</h3>
        <p>
          <i class="green checkmark icon"></i>Initial consult via email & video conference<br>
          <i class="green checkmark icon"></i>Personal online account therapy Plan - accessed on your account<br>
          <i class="green checkmark icon"></i>Education & Advice<br>
            
            <h3 class = "ui header"><font size = "5">$150.00</font></h3>
          {{!--{{#link-to "create-account"}} <a class="ui huge primary button">Start Now</a>{{/link-to}}--}}
        </p>
        </div>
        
        <div id = "services" class="ui vertical stripe segment">
        <h3 class = "ui header">Assesment + 3 Sessions</h3>
        <p>
          <i class="green checkmark icon"></i>Initial consult via email & video conference<br>
          <i class="green checkmark icon"></i>3 further online sessions via email & video conference<br>
          <i class="green checkmark icon"></i>Personal online account therapy Plan - accessed on your account<br>
          <i class="green checkmark icon"></i>Education & Advice<br>
            <h3 class = "ui header"><font size = "5">$350.00</font></h3>
            </p>
          {{!--{{#link-to "create-account"}} <a class="ui huge primary button">Start Now</a>{{/link-to}}--}}
         </div>
         
         <div id = "services" class="ui vertical stripe segment">
        <h3 class = "ui header">Assesment + 6 Sessions</h3>
        <p>
          <i class="green checkmark icon"></i>Initial consult via email & video conference<br>
          <i class="green checkmark icon"></i>6 further online sessions via email & video conference<br>
          <i class="green checkmark icon"></i>Personal online account therapy Plan - accessed on your account<br>
          <i class="green checkmark icon"></i>Education & Advice<br>
            <h3 class = "ui header"><font size = "5">$550.00</font></h3>
            </p>
          {{!--{{#link-to "create-account"}} <a class="ui huge primary button">Start Now</a>{{/link-to}}--}}
         </div>
         
         <div id = "services" class="ui vertical stripe segment">
        <h3 class = "ui header">Single Follow-up Appointments within 3 months of initial consultation</h3>
        <p>
            <h3 class = "ui header"><font size = "5">$75.00</font></h3>
            </p>
          {{!--{{#link-to "create-account"}} <a class="ui huge primary button">Start Now</a>{{/link-to}}--}}
         </div>
         <h3 class="ui center aligned header"><a>{{#link-to "create-account"}}<a class="ui huge primary button">Start Now!</a>{{/link-to}}</a></h3>
        </div>
      </div>
    </div>
  </div>

  {{!--<div class="ui vertical footer segment">--}}
  {{!--  <div class="ui container">--}}
  {{!--    <div class="ui stackable divided equal height stackable grid">--}}
  {{!--      <div class="three wide column">--}}
  {{!--        <h4 class="ui header">About</h4>--}}
  {{!--        <div class="ui link list">--}}
  {{!--          <a href="#" class="item">Sitemap</a>--}}
  {{!--          <a href="#" class="item">Contact Us</a>--}}
  {{!--          <a href="#" class="item">Religious Ceremonies</a>--}}
  {{!--          <a href="#" class="item">Gazebo Plans</a>--}}
  {{!--        </div>--}}
  {{!--      </div>--}}
  {{!--      <div class="three wide column">--}}
  {{!--        <h4 class="ui header">Services</h4>--}}
  {{!--        <div class="ui link list">--}}
  {{!--          <a href="#" class="item">Banana Pre-Order</a>--}}
  {{!--          <a href="#" class="item">DNA FAQ</a>--}}
  {{!--          <a href="#" class="item">How To Access</a>--}}
  {{!--          <a href="#" class="item">Favorite X-Men</a>--}}
  {{!--        </div>--}}
  {{!--      </div>--}}
  {{!--      <div class="seven wide column">--}}
  {{!--        <h4 class="ui header">Footer Header</h4>--}}
  {{!--        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>--}}
  {{!--      </div>--}}
  {{!--    </div>--}}
  {{!--  </div>--}}
  {{!--</div>--}}
</div>
</body>
</html>

